div {
  padding: 20px 100px;
}
h3 {
  text-align: center;
  margin-top:0;
}
table {
  border-collapse: collapse;
}
table tr td {
  border: 1px solid black;
  text-align:center;
}
table th {
  background-color: dodgerblue;
  text-align: center;
  color: white;
  border:1px solid black
}
