table {
  border-collapse: collapse;
}
table tr td {
  border: 1px solid black;
  text-align:center;
}
table th {
  background-color: dodgerblue;
  text-align: center;
  border:1px solid black
}
